<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>HTML 5 Drag</h2>
      <p>The [Drag Me] div uses HTML5 drag and drop events to cause the "card editor"
        component to display a "drop-point" using
      an absolutely positioned div. This works pretty well.</p>

    </div>
    <div class="col-md-6">
      <h2>Cards</h2>
      <p>Drop cards into "rows" and have them initially take up 100% of a row. Dragging
        another card over an existing one shows drop-targets on either side, and on-drop,
        the existing card is split. Mousing near a shared-edge will show a re-size widget.
      </p>
    </div>
  </div>

</div>

<div id="dockPanel">
  {{#each swatches as |swatch|}}
    {{#card-swatch model=swatch}}{{swatch.text}}{{/card-swatch}}
  {{/each}}
</div>

{{page-layout-editor model=model}}
