{{section-drag-control sectionComponent=sectionComponent}}
<span class="layout-control" {{action "editSection"}}>
  <span class="glyphicon glyphicon-cog boxed"/>
</span>
<span class="layout-control" {{action "removeSection"}}>
  <span class="glyphicon glyphicon-remove boxed"/>
</span>
