$gray-dark: #333333;
$link-color: #555555;

@import 'layout-section-editor';
@import 'bs-row-editor';
@import 'bs-cards-editor';
@import 'dock-panel';
@import 'drop-target';
@import 'card-resizer';
@import 'card-controls';
@import 'card-swatch';
@import 'drop-preview';
@import 'section-controls';
@import 'card-drop-targets';
@import 'row-drop-targets';
@import 'page-layout-editor';
@import 'blank-card';

// @import 'tom';

// .drop-right {
//   border-right: 3px solid cyan;
// }
//
// .drop-left {
//   border-left: 3px solid cyan;
// }
//
// .drop-top {
//   border-top: 3px solid cyan;
// }
//
// .drop-bottom {
//   border-bottom: 3px solid cyan;
// }

.layout-cards-editor {
  border:1px solid red;
  margin-bottom:10px;
}

// .crack, .card-crack, .row-crack {
//   position: absolute;
//   display:none;
//   border-radius:2px;
// }
//
// a.draggable {
//   cursor: move;
// }
//
// a.draggable:hover {
//   text-decoration: none;
// }
