.bs-row-editor {
  // showz the rowz
  // border: 2px solid green;
}
.row {
  margin-top:20px;
  margin-bottom:20px;
}

.resizer {
  position:absolute;
  display:block;
  background-color:#00FFFF;
  width:18px;
}
