.card-resizer {
  position:absolute;
  display:block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
  -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
  -o-transition: visibility 0.2s linear, opacity 0.2s linear;
  background-color:cyan;
  width:18px;
  border-radius: 5px;

  .control-container {
    position:relative;
    width:80px;
    left:-32px;

  }
  .resize-right {
    float:right;
    background-color:cyan;
    -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.25);
  }
  .resize-left {
    float:left;
    background-color:cyan;
    -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.25);
  }
}
.visible {
  visibility:visible;
  opacity:1;
}
