#dockPanel{
  position:fixed;
  top:0px;
  left:0px;
  width: 160px;
  height: 160px;
  z-index: 50;
  border:2px solid #666666;
  background-color:#cccccc;
  .draggable{
    float:left;
    border: 1px solid #ff0000;
    width:50px;
    height:50px;
    margin:10px;
    text-align:center;
  }
}
