<div class="control-container" style={{controlContainerStyle}}>
  {{#if showLeftSizer}}
  <div class="resize-left boxed">
    <span class="glyphicon glyphicon-arrow-left" {{ action "shiftLeft"}}></span>
  </div>
  {{/if}}
  {{#if showRightSizer}}
  <div class="resize-right boxed" {{ action "shiftRight"}}>
    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
  </div>
  {{/if}}
</div>
