<div class="{{containerClass}}" >
  {{#if hasRows}}
    {{#each model.rows as |row|}}
      {{bs-row-editor model=row
                      onRowRemove=(action 'onRowRemove')
                      onCardRemove=(action 'onCardRemove')
                    }}
    {{/each}}
  {{else}}
  <div class="row">
    <div class="col-md-12">
      <h2>Hey No Cards! Drop something here!</h2>
      <p>(Replace with a component for showing "empty" state)</p>
    </div>
  </div>
  {{/if}}
</div>
