{{#if hasRows}}
<div class="{{containerClass}}" >
  {{#each model.rows as |row|}}
    {{bs-row-editor model=row
                    onRowDelete=(action 'onRowDelete')
                    onCardDelete=(action 'onCardDelete')
                  }}
  {{/each}}
</div>
{{else}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Hey No Cards! Drop something here!</h2>
    </div>
  </div>
</div>
{{/if}}
