
<div class="layout-cards-editor card-canvas {{canvasClassName}}">
{{#if hasCards}}
  {{#each cards as |card|}}
    {{#card-editor model=card onLayoutChange=(action 'onLayoutChange')
                              onLayoutChangeComplete=(action 'onLayoutChangeComplete')
                              onCardDelete=(action 'onCardDelete')}}

    {{/card-editor}}
  {{/each}}
  {{else}}
    <h2>I'm Empty Drag something into me!</h2>
  {{/if}}
</div>
