
{{#if hasSections}}
  {{#each model.sections as |section|}}
    {{layout-section-editor model=section
                  onDeleteSection=(action 'onDeleteSection')
                }}
  {{/each}}
{{else}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Drag a card a component here</h2>
      </div>
    </div>
  </div>
{{/if}}


{{drop-target model=dropTargetModel}}
