{{#each model.cards as |card|}}
  {{bscard-editor model=card
                  onCardDrag=(action 'onCardDrag')
                  onShowCardResize=(action 'onShowCardResize')
                  onCardDelete=(action 'onCardDelete')}}
{{/each}}
<div class="row-crack"></div>

{{card-resizer model=resizerModel
                onResizeMove=(action 'onResizeMove')}}
