<h2>Placeholder Card</h2>
<div class="lets-nest">
  <p>Card # {{model.component.settings.id}} id: {{eId}}</p>
  <p>Width: {{model.width}}</p>
  <ul>
    <li>Just some</li>
    <li>Content to</li>
    <li>give us
      <a href="#">height</a>
    </li>
  </ul>

</div>
