<div class="card-editor-content">
  <div class="clearfix card-editor-header">
    <div class="pull-left"><small> {{elementId}} </small></div>
    <div class="pull-right">
      <a href="#" {{action "editCard" model}}><span class="glyphicon glyphicon-cog"/></a>
      <a href="#" {{action "deleteCard" model}}><span class="glyphicon glyphicon-remove"/></a>
    </div>
  </div>
  {{component model.component.name model=model editMode=showInlineEdit onModelChanged=(action 'onModelChanged')}}
</div>
