{{card-drag-control cardComponent=cardComponent}}
<span class="layout-control pull-left" {{action "editCard"}}>
  <span class="glyphicon glyphicon-cog boxed"/>
</span>
<span class="layout-control pull-left" {{action "removeCard"}}>
  <span class="glyphicon glyphicon-remove boxed"/>
</span>
