<span class="card-control move-card pull-left" {{action 'startDragging' tabLayoutElement on='mouseDown' bubbles=false}}></span>
<span class="card-control configure-card pull-left" {{action "editCard"}}></span>
<span class="card-control configure-card pull-left" {{action "removeCard"}}></span>
